<div>
    <h2>
        <span jhiTranslate="verbboxApp.play.home.title">Plays</span>
        <button class="btn btn-primary float-right jh-create-entity create-play" [routerLink]="['/', { outlets: { popup: ['play-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="verbboxApp.play.home.createLabel">
            Create new Play
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="plays">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="verbboxApp.play.progress">Progress</span></th>
            <th><span jhiTranslate="verbboxApp.play.lastActiviry">Last Activiry</span></th>
            <th><span jhiTranslate="verbboxApp.play.box">Box</span></th>
            <th><span jhiTranslate="verbboxApp.play.player">Player</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let play of plays ;trackBy: trackId">
                <td><a [routerLink]="['../play', play.id ]">{{play.id}}</a></td>
                <td>{{play.progress}}</td>
                <td>{{play.lastActiviry | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="play.box">
                        <a [routerLink]="['../box', play.box?.id ]" >{{play.box?.id}}</a>
                    </div>
                </td>
                <td>
                    {{play.player?.id}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../play', play.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'play/'+ play.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'play/'+ play.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
