<div>
    <h2>
        <span jhiTranslate="verbboxApp.verb.home.title">Verbs</span>
        <button class="btn btn-primary float-right jh-create-entity create-verb" [routerLink]="['/', { outlets: { popup: ['verb-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="verbboxApp.verb.home.createLabel">
            Create new Verb
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="verbs">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="verbboxApp.verb.front">Front</span></th>
            <th><span jhiTranslate="verbboxApp.verb.back">Back</span></th>
            <th><span jhiTranslate="verbboxApp.verb.created">Created</span></th>
            <th><span jhiTranslate="verbboxApp.verb.box">Box</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let verb of verbs ;trackBy: trackId">
                <td><a [routerLink]="['../verb', verb.id ]">{{verb.id}}</a></td>
                <td>{{verb.front}}</td>
                <td>{{verb.back}}</td>
                <td>{{verb.created | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="verb.box">
                        <a [routerLink]="['../box', verb.box?.id ]" >{{verb.box?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../verb', verb.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'verb/'+ verb.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'verb/'+ verb.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
